.THIS iframe::-webkit-scrollbar {  
    display: none;
}

.THIS.reCaptcha body {
    background: none transparent;
}

.THIS.reCaptcha {
    border:0;
    top:0;
    overflow:hidden;
    position: fixed;
    height: 100%;
    width: 262px;
    right: 0;
    z-index: 0;
}

.THIS.reCaptchaSmall {
    height:79px;
}

.THIS.reCaptchaBig {
    height: 500px;
}