.THIS iframe::-webkit-scrollbar {  
    display: none;
}

.THIS.reCaptcha {
    border:0;
    top:0;
    overflow:hidden;
}

.THIS.reCaptchaSmall {
    height:79px;
    width:310px;
}

.THIS.reCaptchaBig {
    height: 500px;
    width:310px;
}